<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Carte interactive</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Map</ion-title>
        </ion-toolbar>
    </ion-header>


    <!-- <IonButton color="primary" (click)="addMarker()">Primary</IonButton> -->
    <div id="map_canvas"></div>

    <!-- <ion-button expand="block" (click)="addMarkerLieu()">Ajout de Markeur</ion-button> -->
    <div class="butonOption">
        <ion-fab vertical="bottom" horizontal="start" slot="fixed">
            <ion-fab-button color="sucess" (click)="mapOptions()">
                <ion-icon name="map"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>

    <!-- Tableau pour afficher les données -->
    <ion-card *ngIf="isMarkerClicked">
        <ion-list-header>
            <ion-label><b>Nom Polluant</b></ion-label>
            <ion-label><b>Valeur</b></ion-label>
            <ion-label><b>Date début Relevé</b></ion-label>
            <ion-label><b>Date fin Relevé</b></ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item *ngFor="let polluant of this.polluantsStationClicked">
                <ion-label>{{polluant.nom}}</ion-label>
                <ion-label>{{polluant.valeur}}</ion-label>
                <ion-label>{{polluant.dateDebut}}</ion-label>
                <ion-label>{{polluant.dateFin}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>

<div class="my-overlay" padding [hidden]="overlayHidden">
    <ion-card *ngIf="isMarkerClicked">
        <ion-list-header>
            <ion-label><b>Nom Polluant</b></ion-label>
            <ion-label><b>Valeur</b></ion-label>
            <ion-label><b>Date début Relevé</b></ion-label>
            <ion-label><b>Date fin Relevé</b></ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item *ngFor="let polluant of this.polluantsStationClicked">
                <ion-label>{{polluant.nom}}</ion-label>
                <ion-label>{{polluant.valeur}}</ion-label>
                <ion-label>{{polluant.dateDebut}}</ion-label>
                <ion-label>{{polluant.dateFin}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</div>